<h1>{{title}}</h1>

<input
  type="text"
  name="search"
  id="search"
  value=""
  size="50"
  placeholder="search keyword"
/>
<button>검색</button>
<br />

<a href="/write">write</a>
<br />

<div>
  <table>
    <thead>
      <tr>
        <th width="50%">title</th>
        <th>writer</th>
        <th>hits</th>
        <th>createdDt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/detail/">title</a></td>
        <td>writer</td>
        <td>hits</td>
        <td>dateString createdDt</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <a>&lt;&lt;</a>
  <a>&lt;</a>
  <a>1</a>
  <a>2</a>
  <a>3</a>
  <a>4</a>
  <a>&gt;</a>
  <a>&gt;&gt;</a>
</div>